.input,
.select,
.btn {
  height: 2.5rem;
  border: 1px solid #16215e;
  border-radius: 0.25em;
  width: 100%;
  max-width: 300px;
}


.input {
  padding: 0 0.5em;
}

.select {
  padding: 0 0.25em;
}

.btn {
  margin: 0.75em 0 0.5em;
  border: 1px solid #501300;
  outline: none !important;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
  color: #ffffff;

  &--send {
    padding: 0 1em;
    border-radius: 0.25em;
    background-color: #ff5722;
  }

  &--send:hover,
  &--send:focus {
    transition: background-color .15s ease-in;
    background-color: #a72700;
  }
}